.container{
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.crud-form{
  border: 1px solid #c5c3c3;
  border-radius: 6px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.form-layout-1{
  display: grid;
  text-align: left;
  grid-template-columns: 1fr;
}

.form-layout-2{
  display: grid;
  text-align: left;
  grid-template-columns: 2fr 2fr;
}

.form-layout-3{
  display: grid;
  text-align: left;
  grid-template-columns: 2fr 2fr;
}

.input-form{
  display: flex;
  padding: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
}

.form-input{
  flex: 1;
  padding: 7px;
  outline: 0;
  border: 1px solid #cecccc;
  border-radius: 1px;
  background-color: white;
  color: black;
}

.form-input:focus{
  border: 1.5px solid #069ab8;
  transition: border .3s;
}

.trn-btn{
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  font-size: 20px;
  border-radius: 3px;
  background-color: #951EB3;
}

.trn-btn:hover{
  background-color: #CB51DF;
}

.detail-list{
  margin-top: 40px;
  width: 100%;
  border-radius: 1px;
}

.detail-list > tr > th, .detail-list > tr > td{
  text-align: left;
  padding: 10px;
}

.detail-list > tr > th{
  border-bottom: 1px solid black;
}

.detail-list > tr > td{
  color: #656E6F;
}
