.container{
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.crud-form{
  border: 1px solid #c5c3c3;
  border-radius: 6px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.form-layout-2{
  display: grid;
  text-align: left;
  grid-template-columns: 2fr 2fr;
}

.input-form{
  display: flex;
  padding: 20px;
  align-items: center;
}

.form-input{
  flex: 1;
  padding: 7px;
  outline: 0;
  border: 1.5px solid #cecccc;
  border-radius: 2px;
}

.form-input:focus{
  border: 1.5px solid #069ab8;
  transition: border .3s;
}

.form-btn{
  margin-left: auto;
  background-color: #15B2D1;
  color: white;
  margin-top: 20px;
  border: none;
}

.form-btn:hover{
  background-color: #25d1f3;
  transition: background-color .3s;
  transition-delay: .1s;
}

