#root {
  margin: 0 auto;
  text-align: center;
}

.cols{
  text-align: left;
}

.cols > h3{
  display: inline-block;
  border-bottom: 2px solid #83D8F9;
  color: #656E6F;
  font-weight: bold;
  padding-right: 40px;
}

.cols > ul{
  list-style-type: none;
}

.cols > ul > li{
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
  width: 70%;
  color: #444A4B;
  font-weight: bold;
}

.cols > ul > li:hover{
  background-color: #4AC7EC;
  padding-left: 20px;
  transition: .4s;
  color: white;
}
