.abt-mn-main {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  margin-bottom: 50px;
}

.abt-mn{
  text-align:left;
  border: 1px solid #A9B5B8;
  border-radius: 10px;
  display: block;
  padding:30px;
  margin-left: 10%;
  margin-right: 10%;
  width: 70%;
  text-align: justify;
  background-color: white;
}