
.mainheader{
  color: #6c7a99;
  font-weight: bolder;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  letter-spacing: 2px;
}

.maincontent{
  display: flex;
  justify-content: space-around;
  height: 92vh;
  overflow-y: auto;
}

.side-menu{
  position: sticky;
  left: 1%;
  margin:auto;
  margin-top:0%;
  width: 17%;
  height: 97%;
  background-color: #83D8F9;
  text-align: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-menu::-webkit-scrollbar {
  display: none;
}

.side-menu .side-menu-route >a:hover{
  color: white;
  background-color: #15B2D1;
  padding-left: 35px;
  transition: padding-left 0.25s;
}

.mains{
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #262b2b;
}

.mains > img{
  width:22px;
  margin-right:10px;
}

.channel{
  color: #656E6F;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-left: 20px;
  font-size: 13px;
}

.route{
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  padding-left: 20px;
  display: block;
  font-weight: bold;
  font-size: 15px;
  color: #444A4B;
}

.devider{
  height: 1px;
  background-color: #A9B5B8;
  margin-top: 3px;
}

.contentbody{
  width: 82%;
  height: 100%;
  overflow-y: auto;
}

.signout{
  text-align: center;
  padding: 10px;
  border-top: 2px solid #A9B5B8;
}

.signout>b{
  font-size: 20px;
}

.signout>a>img{
  height: 20px;
  margin-left: 10px;
}

.signout>a>:hover{
  color: white;
}

.side-menu-route{
  max-height: 80%;
  overflow: auto;
}

.side-menu-route::-webkit-scrollbar {
  display: none;
}
/*https://goodpalette.io/15b2d1-6bf227-a9b5b8*/

